.DS_Store
.~*
log/*
log/*.log
tmp/*/*
tmp/*
config/database.yml
db/*.sqlite3
nbproject/*
public/system/*
app/opensocial/*.zip
mkmf.log
config/oauth_secrets.yml
config/application/config.yml
vendor/testing_container/shindig/php/config/local.php
vendor/testing_container/partuza/html/config.php
rerun.txt
nohup.out
vendor/testing_container/partuza/html/images/people/1.129x225.jpg
vendor/testing_container/partuza/html/images/people/1.96x96.jpg
vendor/testing_container/partuza/html/images/people/10.129x225.jpg
vendor/testing_container/partuza/html/images/people/10.96x96.jpg
vendor/testing_container/partuza/html/images/people/2.129x225.jpg
vendor/testing_container/partuza/html/images/people/2.96x96.jpg
vendor/testing_container/partuza/html/images/people/3.129x225.jpg
vendor/testing_container/partuza/html/images/people/3.96x96.jpg
vendor/testing_container/partuza/html/images/people/4.129x225.jpg
vendor/testing_container/partuza/html/images/people/4.96x96.jpg
vendor/testing_container/partuza/html/images/people/5.129x225.jpg
vendor/testing_container/partuza/html/images/people/5.96x96.jpg
vendor/testing_container/partuza/html/images/people/6.129x225.jpg
vendor/testing_container/partuza/html/images/people/6.96x96.jpg
vendor/testing_container/partuza/html/images/people/7.129x225.jpg
vendor/testing_container/partuza/html/images/people/7.96x96.jpg
vendor/testing_container/partuza/html/images/people/8.129x225.jpg
vendor/testing_container/partuza/html/images/people/8.96x96.jpg
vendor/testing_container/partuza/html/images/people/9.129x225.jpg
vendor/testing_container/partuza/html/images/people/9.96x96.jpg
vendor/testing_container/partuza/html/images/people/nophoto.129x225.gif

